.cont_ab{:id => "abon"}
    .back_ab
        .zd_ab
            .container
                .text_ab Книжный абонемент
                .row
                    .col-md.card_ab 
                        %img{:src => "img/сз1.svg", :width => "100px", :height => "100px"}
                        %p.text1_ab 3
                        %p.text1_ab Книги
                        %p.text2_ab 1000р
                        %ul.ul
                            %li.li Действителен 3 месяца
                            %li.li Один месяц – одна книга
                            %li.li Действует во всех розничных магазинах
                            %li.li Доставка за счет получателя
                        .gri
                        %button.btn.btn-dark{:type => "button"} Оформить

                    .col-md.card_ab 
                        %img{:src => "img/сз2.svg", :width => "100px", :height => "100px"}
                        %p.text1_ab 5
                        %p.text1_ab Книг
                        %p.text2_ab 3000р
                        %ul
                            %li.li Действителен 5 месяцев
                            %li.li Один месяц – одна книга
                            %li.li Действует во всех розничных магазинах
                            %li.li Бесплатная доставка
                        
                        .gri
                        %button.btn.btn-dark{:type => "button"} Оформить
                    
                    .col-md.card_ab 
                        %img{:src => "img/сз4.svg", :width => "100px", :height => "100px"}
                        %p.text1_ab 12
                        %p.text1_ab Книг
                        %p.text2_ab 6000р
                        %ul
                            %li.li Действителен 12 месяцев
                            %li.li Один месяц – одна книга
                            %li.li Действует во всех розничных магазинах
                            %li.li Бесплатная Доставка
                        .gri
                        %button.btn.btn-dark{:type => "button"} Оформить