.cont_ak{:id => "akc"}
    .zd_ak
        .container
            .text_ak Подарки в заказы
            .text1_ak Вы выбираете книги, а мы добавляем приятные мелочи
            .row
                .col-md.card_ak
                    %img{:src => "img_ak/подарок1.svg", :width => "300px", :height => "300px"}
                    .text2_ak В заказы от 2000р — добавим открытку и стикеры из лимитированной коллекции.
                .col-md.card_ak 
                    %img{:src => "img_ak/подарок2.svg", :width => "300px", :height => "300px"}
                    .text2_ak Вместе с заказом от 4000р вам придет открытка, стикеры и ежедневник.