.cont_ak{:id => "magz"}
    .zd_ak
        .container
            .text_ak Наш магазин
            .img_mag
            .container
                .row
                    .col-md-10
                        .text1_mag Магазин на Патриарших прудах удобно расположился в сердце города — между станциями метро Маяковская и Баррикадная.
                        
                        .text1_mag Внутри — уютное социальное пространство с уникальной кофейней: можно расположиться в удобном кресле с чашкой любимого кофе, неспешно листая понравившуюся книгу.
                        
                        .text1_mag Заглядывайте к нам — вдохновиться, попробовать вкуснейший кофе или поработать с:
                        
                        .text2_mag м. Баррикадная, Малый Патриарший переулок, 5с1 ・ Ежедневно: 9:00—22:00
                    .col-md-2
