$gradient: linear-gradient(#6e696e, #242124);
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

.cont_ab {
    background: $gradient;
    width: 100%;
    
    
}

.back_ab {
    width: 100%;
    
    background-image: url(img/полосы.svg);
}

.text_ab{
    font: {
        size: 36pt;
        weight: bold;
        family: play;
    }
    color: #f8f8f8;
    text-align: center;
    line-height: 100px;
}

.text1_ab{
    font: {
        size: 22pt;
        family: play;
    }
    color: #ee964b;
    text-align: center;
    line-height: 13px;
}

.text2_ab{
    font: {
        size: 28pt;
        weight: bold;
        family: play;
    }
    color: #ee964b;
    text-align: center;
    line-height: 35px;
}

.text3_ab{
    color: #f8f8f8;
    font: {
        size: 28pt;
        weight: bold;
        family: play;
    }
    line-height: 55px;
}

.card_ab{
    
    text-align: center;
    border-radius: 15px;
    background-color: #f8f8f8;
    margin: 30px 15px;
}

.ul{
    margin: 10px 0;
}

.li{
    list-style-image: url("img/маркер.svg");
    color: #242124;
    text-align: left;
    font: {
        size: 14pt;
        family: play;
    }
}

.zd_ab{
    width: 100%;
    
    background-image: url(img/звездочки.svg);
    filter: alpha(Opacity = 100);
    opacity: 1;
}


